# This directory contains a mix of real binaries and custom scripts.
# For server rebuild, consider putting scripts in separate directory;
# for now, exclude binaries from git via .gitignore.

# Instead of manually listing everything to ignore, ignore everything
# and then include vger* via negation.
*
!vger_*

# Include this script // TODO: Refactor calling scripts, rename this one.
!split_marc_file.sh

# Include .gitignore
!.gitignore

# Exclude files with sensitive info.
*_credentials
